<!-- Importando o template base -->
{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Bem-vindo ao The Games!</h1>
    <h3>Seu site favorito de jogos!</h3>
    <hr>
    <!-- <p><a href="/games">Games</a></p>
    <p><a href="/consoles">Consoles</a></p> -->
    
    <img src="{{url_for('static', filename='/imgs/games.webp')}}" alt="The Games" width="720px">
    <div class="tenor-gif-embed" data-postid="4991443249772973911" data-share-method="host" data-aspect-ratio="1.0122" data-width="60%"><a href="https://tenor.com/view/hollow-knight-hollow-knight-breakdance-gif-4991443249772973911">Hollow Knight GIF</a>from <a href="https://tenor.com/search/hollow-gifs">Hollow GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</main>

{% endblock content %}