{% extends 'base.html' %}

{% block content %}

<div class="container" style="background-color: aliceblue; border-radius: 8px;">
    <div class="row">
        {% for jogo in listaJogos %}
        <div class="col-md-3 m-auto">
            <div class="card" style="width: 16rem;">
                <img src="{{jogo.thumbnail}}">
                <div class="card-body">
                    <h5>{{jogo.title}}</h5>
                    <p>{{jogo.genre}}</p>
                    <p>{{jogo.platform}}</p>
                    <a href="{{jogo.game_url}}" target="_blank" class="btn btn-danger">Jogar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}