<!-- Importando o template base -->
{% extends 'base.html' %}

{% block content %}

<main>
    <h2>Seja Bem-Vindo!</h2>
    <p>
         Este espaço foi criado para facilitar o registro, a organização e a consulta de obras literárias de forma simples e prática. Aqui, você pode cadastrar novos livros informando título, autor e ano de publicação, além de visualizar uma lista atualizada com todos os itens adicionados.

        Nosso objetivo é oferecer uma experiência intuitiva e acessível, ideal tanto para uso pessoal quanto para fins de aprendizado em desenvolvimento web.

        Explore as funcionalidades, adicione seus livros favoritos e veja os listados.

    </p>
    <hr>
</main>

{% endblock content %}
