<!-- Importando o template base -->
{% extends 'base.html' %}

{% block content %}

<main>
    <h2>Bem-vindo ao nosso site de gerenciamento de livros!</h2>
    <p>
         Este espaço foi criado para facilitar o registro, a organização e a consulta de obras literárias de forma simples e prática. Aqui, você pode cadastrar novos livros informando título, autor e ano de publicação, além de visualizar uma lista atualizada com todos os itens adicionados.

        Nosso objetivo é oferecer uma experiência intuitiva e acessível, ideal tanto para uso pessoal quanto para fins de aprendizado em desenvolvimento web. A plataforma demonstra, de forma clara, como é possível integrar formulários, processamento de dados e exibição dinâmica de informações utilizando tecnologias como Python e Flask.

        Explore as funcionalidades, adicione seus livros favoritos e aproveite para conhecer um pouco mais sobre como aplicações web podem ser construídas de maneira eficiente e organizada.

    </p>
    <hr>
</main>

{% endblock content %}
