{% extends 'base.html' %}

{% block content %}
    <main>
         <h2>Livros Cadastrados</h2>
    <hr>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in listaLivro %}
            <tr>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.ano}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </main>
{% endblock content %} 
    <!-- <div class="lista-livros">
        <h2>Lista de Livros</h2>

        <div class="livro">
            <div class="titulo">O Homem de Giz</div>
            <div class="autor">Autor: C.J.Tudor</div>
            <div class="ano">Ano: 2018</div>
        </div>

        <div class="livro">
            <div class="titulo">A Menina do Outro Lado</div>
            <div class="autor">Autor: Nagabe</div>
            <div class="ano">Ano: 2015</div>
        </div>

        <div class="livro">
            <div class="titulo">Yotsuba to!</div>
            <div class="autor">Autor: Kiyohiko Azuma</div>
            <div class="ano">Ano: 2003</div>
        </div>

        <div class="livro">
            <div class="titulo">Coraline</div>
            <div class="autor">Autor: Neil Gaiman</div>
            <div class="ano">Ano: 2002</div>
        </div>

        <div class="livro">
            <div class="titulo">O Pequeno Príncipe</div>
            <div class="autor">Autor: Antoine de Saint-Exupéry</div>
            <div class="ano">Ano: 1943</div>
        </div>

        <div class="livro">
            <div class="titulo">Um Estudo em Vermelho</div>
            <div class="autor">Autor: Árthur Conan Doyle</div>
            <div class="ano">Ano: 1887</div>
        </div>

        <div class="livro">
            <div class="titulo">Crime e Castigo</div>
            <div class="autor">Autor: Fiódor Dostoiévski</div>
            <div class="ano">Ano: 1866</div>
        </div>

    </div> -->